table {
  background-color: #e6e8e6;
  display: table;
  border-collapse: separate;
  border-spacing: 6px;
  border-color: rgb(74, 74, 145);
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;
  position: fixed;
    bottom: 50px;
    left: 50px;
    width: 100%;
}
table tr {
  width: 780px;
  display: block;
  margin: 0px;
  padding: 0px;
}
table tbody tr td .Valkata {
  background: rgb(116, 113, 113);
}

tbody input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0px;
  padding: 0px;
  background: gray;
  position: relative;
}

tbody input[type="checkbox"]:checked:after {
  color: #fff;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f15025;
  top: 0;
  left: 0;
}
thead input[type="checkbox"]:nth-child(3n + 1) {
  -webkit-appearance: initial;
  appearance: initial;
  width: 40px;
  height: 15px;
  border: none;
  margin: 0px;
  padding: 0px;
  background: #f15025;
  position: relative;
}
thead input[type="checkbox"]:checked:after {
  content: "\2713";
  color: #fff;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(45, 45, 109);
  top: 0;
  left: 0;
}
