/* Sequence css */
/* @import url('https://fonts.googleapis.com/css?family=Prosto+One'); */
@import url('https://fonts.googleapis.com/css?family=Michroma');
@import url('https://fonts.googleapis.com/css?family=Michroma');




a {
 text-decoration: none;
 color: rgb(24, 24, 24);
}


.PlayButton {
  width: 60px;
  height: 30px;
  border-radius: 4px;
  background-color: #F29559;
  border: none;
  font-family: 'Michroma', sans-serif;
}

table {
  margin: 0 auto;
  text-align: center;
  background: #747474;
  display: table;
  border-spacing:0; /* Removes the cell spacing via CSS */
}

table tr {
  width: 800px;
  display: block;
  margin: 0px;
  padding: 0px;
}

.beat:nth-of-type(-n+16) {
  background: #283845;   
}
.beat:nth-of-type(-n+12) {
  background: #B8B08D;   
}
.beat:nth-of-type(-n+8) {
  background: #F2D492;   
}
.beat:nth-of-type(-n+4) {
  background: #F29559;   
}

.beat {
  text-align: center;
  border: 2px solid #747474;
  border-radius: 6px;
  font-size: 1.2em;;
}

.beat > a {
  display: inline-block;
  width: 44px;
  height: 50px;
}

.disabled-icon {
  color: lightgrey;
}

.circleIndicator {
  margin-top: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 96, 4);
  margin: 0 auto;
}
.beat:hover {
  border: 2px solid rgba(0, 0, 0, 0.2);

}
.currentBeat {
  background-color: rgba(0, 0, 0, 0.9);
}

.SequenceNumbers {
  color: rgba(255, 255, 255, 0.5);
}



/* Slider css */

.CircleKnob {
  fill: black;
}
svg g circle {
  fill: black;
}

.rc-slider-handle {
  border: 2px solid #283845;   
}
.rc-slider-track {
  background-color: #B8B08D
}
.rc-slider-vertical .rc-slider-handle  {
  background-color: #F29559
}

.TrackComponent {
  padding-bottom: 10px;
}

/* Pattern css */

.patternButton {
  color: lightgray;
  border-radius: 50%;
  border: none;
}
.patternSelectBtn {
  text-align: center;
  font-size: 0.7em;
  color: lightgray;
  border: none;
  width: 7px;
  background-color: #747474;
}
.Switches button:nth-of-type(1) {
 background: #283845;
}
.Switches button:nth-of-type(5) {
 background: #283845;
}
.patternButtonFull {
  background-color: #F29559;
}

.patternButtonEmpty {
  background-color: #747474;
}

.SelectList::-webkit-scrollbar {
  width: 12px;
}
.SelectList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.SelectList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

  /* audio player customization */
.DownloadBtn {
  cursor: pointer;
  text-align: center;
  border-radius: 5%;
  display: block;
  background-color: #c3c3c3;
  width: 70px;
  height: 25px;
  }
.row {  
   display: flex;
   flex-wrap: wrap;
 }
 .wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  /* font-family: 'Prosto One', cursive; */
  font-family: 'Michroma', sans-serif;
  font-size: 0.7em;
  border-top: 10px solid #6e6e6e;
  border-bottom: 10px solid #6e6e6e;
  border-left: 25px solid #6e6e6e;
  border-right: 25px solid #6e6e6e;
  border-radius: 5px;
 }

 /* Create two unequal columns that sits next to each other */
 /* Sidebar/left column */
.side {
   flex: 20%;
   background-color: #818181;
   height: 514px;
 } 
 /* Main column */
.main {
   flex: 80%;
   background-color:#818181;
   margin-top: 0px;
 
 }
.flex-grid-thirds {
   display: flex;
   width: 1200px;
   background-color: #818181;
   justify-content: center ;
 }
.flex-grid-thirds .col {
   width: 33.33%;
   height: 190px;
   background-color: #818181;
 }
 .tracks {
  width: 100%;
   height: 50%;
   background-color: #747474;
 }
 .sequence {
 width: 100%;
  height: 150px;
  background-color: #747474;
 }
 
 /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 700px) {
   .row, .navbar {   
    flex-direction: column;
   }
 }