/* Sequence css */

.PlayButton {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #F29559;
  border: none;
}

table {
  margin: 0 auto;
  text-align: center;
  background: #747474;
  display: table;
  border-spacing:0; /* Removes the cell spacing via CSS */
}

table tr {
  width: 800px;
  display: block;
  margin: 0px;
  padding: 0px;
}

.beat:nth-of-type(-n+16) {
  background: #283845;   
}
.beat:nth-of-type(-n+12) {
  background: #B8B08D;   
}
.beat:nth-of-type(-n+8) {
  background: #F2D492;   
}
.beat:nth-of-type(-n+4) {
  background: #F29559;   
}

.beat {
  text-align: center;
  border: 2px solid #747474;
  border-radius: 6px;
}

.beat > a {
  display: inline-block;
  width: 44px;
  height: 45px;
}

.disabled-icon {
  color: lightgrey;
}

.circleIndicator {
  margin-top: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 96, 4);
  margin: 0 auto;
}
.beat:hover {
  border: 2px solid rgba(0, 0, 0, 0.2);

}
.currentBeat {
  background-color: rgba(0, 0, 0, 0.9);
}

.SequenceNumbers {
  color: rgba(255, 255, 255, 0.5);
}

.Container {
  background-color:#747474;
  height: 650px;
  margin: 0 auto;
  width: 1000px;
}

/* Slider css */

.CircleKnob {
  fill: black;
}
svg g circle {
  fill: black;
}

.rc-slider-handle {
  border: 2px solid #283845;   
}
.rc-slider-track {
  background-color: #B8B08D
}
.rc-slider-vertical .rc-slider-handle  {
  background-color: #F29559
}

.TrackComponent {
  padding-top: 100px;
  margin-left: 90px;
}

/* Pattern css */

.patternButton {
  color: lightgray;
  border-radius: 50%;
  border: none;
}

.patternButtonFull {
  background-color: #F29559;
}

.patternButtonEmpty {
  background-color: #747474
}
.patternButtonOFF {
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blink normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation:blink normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation:blink normal 1.5s infinite ease-in-out;
  /* IE */
  animation:blink normal 1.5s infinite ease-in-out;
  /* Opera */
}

@keyframes blink {
  0% {
         background-color: rgba(116,116,116,1)
  }
  50% {
         background-color: rgba(116,116,116,0.5)
  }
  100% {
         background-color: rgba(116,116,116,1)
  }
}
@-webkit-keyframes blink {
  0% {
         background-color: rgba(116,116,116,1)
  }
  50% {
         background-color: rgba(116,116,116,0.5)
  }
  100% {
         background-color: rgba(116,116,116,1)
  }
}
.patternButtonON {
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blink1 normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation:blink1 normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation:blink1 normal 1.5s infinite ease-in-out;
  /* IE */
  animation:blink1 normal 1.5s infinite ease-in-out;
  /* Opera */
}

@keyframes blink1 {
  0% {
         background-color: rgba(242,149,89,1)
  }
  50% {
         background-color: rgba(242,149,89,0.5)
  }
  100% {
         background-color: rgba(242,149,89,1)
  }
}
@-webkit-keyframes blink1 {
  0% {
         background-color: rgba(242,149,89,1)
  }
  50% {
         background-color: rgba(242,149,89,0.5)
  }
  100% {
         background-color: rgba(242,149,89,1)
  }
}

.SelectList::-webkit-scrollbar {
  width: 12px;
}

.SelectList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.SelectList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}